<div class="row">
    <div class="col-xs-12 col-sm-2 colo-md-2 col-lg-2">
        <img src="../../../assets/img/Foto1.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 colo-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 colo-md-8 col-lg-8">
       <span>
           <h1>Acerca de mi</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatum quibusdam pariatur iure accusamus, 
                obcaecati natus excepturi reprehenderit neque 
               eius placeat soluta dolore enim assumenda perspiciatis 
               est impedit animi cupiditate voluptates.</p>
       </span> 
    </div>

</div>
